build*/
managed_components/
sdkconfig
sdkconfig.old
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build.ninja
.ninja_deps
.ninja_log
compile_commands.json
project_description.json
config/
*.o
*.obj
*.a
*.elf
*.map
